pkgbase = gnome-shell-extension-customize-ibus
	pkgdesc = Customize IBus for orientation, font, ascii mode auto-switch, system tray menu entries; theme and background picture follow GNOME Night Light Mode.
	pkgver = 36
	pkgrel = 1
	epoch = 0
	url = https://extensions.gnome.org/extension/4112/customize-ibus/
	arch = any
	license = GPLv3
	depends = gnome-shell>=40,
	depends = gnome-tweaks
	source = https://github.com/HollowMan6/Customize-IBus/archive/b7423b7610bed817de8805a7abf6b2f18d1cbbb8/Customize-IBus-b7423b7610bed817de8805a7abf6b2f18d1cbbb8.tar.gz
	sha512sums = SKIP

pkgname = gnome-shell-extension-customize-ibus

