pkgbase = gnome-shell-extension-customize-ibus
	pkgdesc = Customize IBus for orientation, font, ascii mode auto-switch, system tray menu entries; theme and background picture follow GNOME Night Light Mode.
	pkgver = 34
	pkgrel = 1
	epoch = 0
	url = https://extensions.gnome.org/extension/4112/customize-ibus/
	arch = any
	license = GPLv3
	depends = gnome-shell>=40,
	depends = gnome-tweaks
	source = https://github.com/HollowMan6/Customize-IBus/archive/cfed4c2ac5f071e78da9223a5f7a82272de3ab43/Customize-IBus-cfed4c2ac5f071e78da9223a5f7a82272de3ab43.tar.gz
	sha512sums = SKIP

pkgname = gnome-shell-extension-customize-ibus

