pkgbase = gnome-shell-extension-customize-ibus
	pkgdesc = Customize IBus for orientation, font, ascii mode auto-switch; theme and background picture follow GNOME Night Light Mode.
	pkgver = 30
	pkgrel = 1
	epoch = 0
	url = https://extensions.gnome.org/extension/4112/customize-ibus/
	arch = any
	license = GPLv3
	depends = gnome-shell>=40,
	depends = gnome-tweaks
	source = https://github.com/HollowMan6/Customize-IBus/archive/0eff08c805a72c07db67c043aa8d9989219d6b03/Customize-IBus-0eff08c805a72c07db67c043aa8d9989219d6b03.tar.gz
	sha512sums = SKIP

pkgname = gnome-shell-extension-customize-ibus

