

/*
 *   Common
 */


.ibus-tweaker-candidate-popup-content {
    border-radius: 3px;
    border-width: 1px;
    padding: 0;
}

.ibus-tweaker-candidate-popup-text {
    border-width: 0;
    border-bottom-width: 1px;
    padding: 0;
}

.ibus-tweaker-candidate-box {
    transition-duration: 100ms;
    border-radius: 0;
    padding: 8px;
}

/* hide page buttons */
.ibus-tweaker-candidate-page-button,
.ibus-tweaker-candidate-page-button-box,
.ibus-tweaker-candidate-page-button-previous,
.ibus-tweaker-candidate-page-button-next,
.ibus-tweaker-candidate-page-button-icon {
    width: 0 !important;
    height: 0 !important;
    border-width: 0 !important;
    color: transparent !important;
    background-color: transparent !important;
}

.ibus-tweaker-candidate-popup-boxpointer {
    -arrow-background-color: transparent;
    -arrow-border-radius: 12px;
    -arrow-rise: 5px;
}

/*
 *   Text
 */


.ibus-tweaker-candidate-popup-content {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
}

.ibus-tweaker-candidate-box:selected {
    color: rgba(0, 0, 0, 1);
}

.ibus-tweaker-candidate-box .ibus-tweaker-candidate-index {
    color: rgba(0, 0, 0, 0.6);
}

.night .ibus-tweaker-candidate-popup-content {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(56, 56, 56, 1);
}

.night .ibus-tweaker-candidate-box:selected {
    color: rgba(255, 255, 255, 1);
}

.night .ibus-tweaker-candidate-box .ibus-tweaker-candidate-index {
    color: rgba(255, 255, 255, 0.6);
}

/*
 *   Colors
 */


/*
 *  #FC8E9F
 */
.red .ibus-tweaker-candidate-popup-content,
.red .ibus-tweaker-candidate-popup-text {
    border-color: rgba(252, 142, 159, 1);
}

.red .ibus-tweaker-candidate-box:hover {
    background-color: rgba(252, 142, 159, 0.6);
}

.red .ibus-tweaker-candidate-box:selected {
    background-color: rgba(252, 142, 159, 1);
}

/*
 *  #DE3163
 */
.night-red .ibus-tweaker-candidate-popup-content,
.night-red .ibus-tweaker-candidate-popup-text {
    border-color: rgba(222, 49, 99, 1);
}

.night-red .ibus-tweaker-candidate-box:hover {
    background-color: rgba(222, 49, 99, 0.6);
}

.night-red .ibus-tweaker-candidate-box:selected {
    background-color: rgba(222, 49, 99, 1);
}


/*
 *  #8FF0A4
 */
.green .ibus-tweaker-candidate-popup-content,
.green .ibus-tweaker-candidate-popup-text {
    border-color: rgba(143, 240, 164, 1);
}

.green .ibus-tweaker-candidate-box:hover {
    background-color: rgba(143, 240, 164, 0.6);
}

.green .ibus-tweaker-candidate-box:selected {
    background-color: rgba(143, 240, 164, 1);
}

/*
 *  #2CA52A
 */
.night-green .ibus-tweaker-candidate-popup-content,
.night-green .ibus-tweaker-candidate-popup-text {
    border-color: rgba(44, 165, 42, 1);
}

.night-green .ibus-tweaker-candidate-box:hover {
    background-color: rgba(44, 165, 42, 0.6);
}

.night-green .ibus-tweaker-candidate-box:selected {
    background-color: rgba(44, 165, 42, 1);
}


/*
 *  #FFBE6F
 */
.orange .ibus-tweaker-candidate-popup-content,
.orange .ibus-tweaker-candidate-popup-text {
    border-color: rgba(255, 190, 111, 1);
}

.orange .ibus-tweaker-candidate-box:hover {
    background-color: rgba(255, 190, 111, 0.6);
}

.orange .ibus-tweaker-candidate-box:selected {
    background-color: rgba(255, 190, 111, 1);
}

/*
 *  #C64600
 */
.night-orange .ibus-tweaker-candidate-popup-content,
.night-orange .ibus-tweaker-candidate-popup-text {
    border-color: rgba(198, 70, 0, 1);
}

.night-orange .ibus-tweaker-candidate-box:hover {
    background-color: rgba(198, 70, 0, 0.6);
}

.night-orange .ibus-tweaker-candidate-box:selected {
    background-color: rgba(198, 70, 0, 1);
}


/*
 *  #99C1F1
 */
.blue .ibus-tweaker-candidate-popup-content,
.blue .ibus-tweaker-candidate-popup-text {
    border-color: rgba(153, 193, 241, 1);
}

.blue .ibus-tweaker-candidate-box:hover {
    background-color: rgba(153, 193, 241, 0.6);
}

.blue .ibus-tweaker-candidate-box:selected {
    background-color: rgba(153, 193, 241, 1);
}

/*
 *  #1A5FB4
 */
.night-blue .ibus-tweaker-candidate-popup-content,
.night-blue .ibus-tweaker-candidate-popup-text {
    border-color: rgba(26, 95, 180, 1);
}

.night-blue .ibus-tweaker-candidate-box:hover {
    background-color: rgba(26, 95, 180, 0.6);
}

.night-blue .ibus-tweaker-candidate-box:selected {
    background-color: rgba(26, 95, 180, 1);
}


/*
 *  #DC8ADD
 */
.purple .ibus-tweaker-candidate-popup-content,
.purple .ibus-tweaker-candidate-popup-text {
    border-color: rgba(220, 138, 221, 1);
}

.purple .ibus-tweaker-candidate-box:hover {
    background-color: rgba(220, 138, 221, 0.6);
}

.purple .ibus-tweaker-candidate-box:selected {
    background-color: rgba(220, 138, 221, 1);
}

/*
 *  #613583
 */
.night-purple .ibus-tweaker-candidate-popup-content,
.night-purple .ibus-tweaker-candidate-popup-text {
    border-color: rgba(97, 53, 131, 1);
}

.night-purple .ibus-tweaker-candidate-box:hover {
    background-color: rgba(97, 53, 131, 0.6);
}

.night-purple .ibus-tweaker-candidate-box:selected {
    background-color: rgba(97, 53, 131, 1);
}


/*
 *  #ABECED
 */
.turquoise .ibus-tweaker-candidate-popup-content,
.turquoise .ibus-tweaker-candidate-popup-text {
    border-color: rgba(171, 236, 237, 1);
}

.turquoise .ibus-tweaker-candidate-box:hover {
    background-color: rgba(171, 236, 237, 0.6);
}

.turquoise .ibus-tweaker-candidate-box:selected {
    background-color: rgba(171, 236, 237, 1);
}

/*
 *  #128FA3
 */
.night-turquoise .ibus-tweaker-candidate-popup-content,
.night-turquoise .ibus-tweaker-candidate-popup-text {
    border-color: rgba(18, 143, 163, 1);
}

.night-turquoise .ibus-tweaker-candidate-box:hover {
    background-color: rgba(18, 143, 163, 0.6);
}

.night-turquoise .ibus-tweaker-candidate-box:selected {
    background-color: rgba(18, 143, 163, 1);
}


/*
 *  #C0BFBC
 */
.grey .ibus-tweaker-candidate-popup-content,
.grey .ibus-tweaker-candidate-popup-text {
    border-color: rgba(192, 191, 188, 1);
}

.grey .ibus-tweaker-candidate-box:hover {
    background-color: rgba(192, 191, 188, 0.6);
}

.grey .ibus-tweaker-candidate-box:selected {
    background-color: rgba(192, 191, 188, 1);
}

/*
 *  #59575D
 */
.night-grey .ibus-tweaker-candidate-popup-content,
.night-grey .ibus-tweaker-candidate-popup-text {
    border-color: rgba(89, 87, 93, 1);
}

.night-grey .ibus-tweaker-candidate-box:hover {
    background-color: rgba(89, 87, 93, 0.6);
}

.night-grey .ibus-tweaker-candidate-box:selected {
    background-color: rgba(89, 87, 93, 1);
}

