

/*
 *   Common
 */


.ibus-tweaker-candidate-popup-content {
    border-radius: 3px;
    border-width: 1px;
    padding: 0;
}

.ibus-tweaker-candidate-popup-text {
    border-width: 0;
    border-bottom-width: 1px;
    padding: 0;
}

.ibus-tweaker-candidate-box {
    transition-duration: 100ms;
    border-radius: 0;
    padding: 6px;
}

/* hide page buttons */
.ibus-tweaker-candidate-page-button,
.ibus-tweaker-candidate-page-button-box,
.ibus-tweaker-candidate-page-button-previous,
.ibus-tweaker-candidate-page-button-next,
.ibus-tweaker-candidate-page-button-icon {
    width: 0 !important;
    height: 0 !important;
    border-width: 0 !important;
    color: transparent !important;
    background-color: transparent !important;
}

.ibus-tweaker-candidate-popup-boxpointer {
    -arrow-border-radius: 10px;
    -arrow-rise: 5px;
}

/*
 *   Text
 */


.ibus-tweaker-candidate-popup-content {
    color: rgba(0, 0, 0, 0.95);
    background-color: rgba(255, 255, 255, 1);
}

.ibus-tweaker-candidate-box:selected {
    color: rgba(0, 0, 0, 1);
}

.ibus-tweaker-candidate-box .ibus-tweaker-candidate-index {
    color: rgba(0, 0, 0, 0.5);
}

.night .ibus-tweaker-candidate-popup-content {
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(56, 56, 56, 1);
}

.night .ibus-tweaker-candidate-box:selected {
    color: rgba(255, 255, 255, 1);
}

.night .ibus-tweaker-candidate-box .ibus-tweaker-candidate-index {
    color: rgba(255, 255, 255, 0.5);
}

/*
 *   Colors
 */


/*
 *  #FC8E9E
 */
.red .ibus-tweaker-candidate-popup-content,
.red .ibus-tweaker-candidate-popup-text {
    border-color: rgba(252, 142, 158, 0.95);
}

.red .ibus-tweaker-candidate-box:hover {
    background-color: rgba(252, 142, 158, 0.5);
}

.red .ibus-tweaker-candidate-box:selected {
    background-color: rgba(252, 142, 158, 0.95);
}

/*
 *  #DE3163
 */
.night-red .ibus-tweaker-candidate-popup-content,
.night-red .ibus-tweaker-candidate-popup-text {
    border-color: rgba(222, 49, 99, 0.95);
}

.night-red .ibus-tweaker-candidate-box:hover {
    background-color: rgba(222, 49, 99, 0.5);
}

.night-red .ibus-tweaker-candidate-box:selected {
    background-color: rgba(222, 49, 99, 0.95);
}


/*
 *  #84ED75
 */
.green .ibus-tweaker-candidate-popup-content,
.green .ibus-tweaker-candidate-popup-text {
    border-color: rgba(132, 237, 117, 0.95);
}

.green .ibus-tweaker-candidate-box:hover {
    background-color: rgba(132, 237, 117, 0.5);
}

.green .ibus-tweaker-candidate-box:selected {
    background-color: rgba(132, 237, 117, 0.95);
}

/*
 *  #20A51A
 */
.night-green .ibus-tweaker-candidate-popup-content,
.night-green .ibus-tweaker-candidate-popup-text {
    border-color: rgba(32, 165, 26, 0.95);
}

.night-green .ibus-tweaker-candidate-box:hover {
    background-color: rgba(32, 165, 26, 0.5);
}

.night-green .ibus-tweaker-candidate-box:selected {
    background-color: rgba(32, 165, 26, 0.95);
}


/*
 *  #FA986A
 */
.orange .ibus-tweaker-candidate-popup-content,
.orange .ibus-tweaker-candidate-popup-text {
    border-color: rgba(250, 152, 106, 0.95);
}

.orange .ibus-tweaker-candidate-box:hover {
    background-color: rgba(250, 152, 106, 0.5);
}

.orange .ibus-tweaker-candidate-box:selected {
    background-color: rgba(250, 152, 106, 0.95);
}

/*
 *  #D35019
 */
.night-orange .ibus-tweaker-candidate-popup-content,
.night-orange .ibus-tweaker-candidate-popup-text {
    border-color: rgba(211, 80, 25, 0.95);
}

.night-orange .ibus-tweaker-candidate-box:hover {
    background-color: rgba(211, 80, 25, 0.5);
}

.night-orange .ibus-tweaker-candidate-box:selected {
    background-color: rgba(211, 80, 25, 0.95);
}


/*
 *  #58B8FC
 */
.blue .ibus-tweaker-candidate-popup-content,
.blue .ibus-tweaker-candidate-popup-text {
    border-color: rgba(88, 184, 252, 0.95);
}

.blue .ibus-tweaker-candidate-box:hover {
    background-color: rgba(88, 184, 252, 0.5);
}

.blue .ibus-tweaker-candidate-box:selected {
    background-color: rgba(88, 184, 252, 0.95);
}

/*
 *  #1278D4
 */
.night-blue .ibus-tweaker-candidate-popup-content,
.night-blue .ibus-tweaker-candidate-popup-text {
    border-color: rgba(18, 120, 212, 0.95);
}

.night-blue .ibus-tweaker-candidate-box:hover {
    background-color: rgba(18, 120, 212, 0.5);
}

.night-blue .ibus-tweaker-candidate-box:selected {
    background-color: rgba(18, 120, 212, 0.95);
}


/*
 *  #EA92E2
 */
.purple .ibus-tweaker-candidate-popup-content,
.purple .ibus-tweaker-candidate-popup-text {
    border-color: rgba(234, 146, 226, 0.95);
}

.purple .ibus-tweaker-candidate-box:hover {
    background-color: rgba(234, 146, 226, 0.5);
}

.purple .ibus-tweaker-candidate-box:selected {
    background-color: rgba(234, 146, 226, 0.95);
}

/*
 *  #A941B4
 */
.night-purple .ibus-tweaker-candidate-popup-content,
.night-purple .ibus-tweaker-candidate-popup-text {
    border-color: rgba(169, 65, 180, 0.95);
}

.night-purple .ibus-tweaker-candidate-box:hover {
    background-color: rgba(169, 65, 180, 0.5);
}

.night-purple .ibus-tweaker-candidate-box:selected {
    background-color: rgba(169, 65, 180, 0.95);
}


/*
 *  #5ED2D7
 */
.turquoise .ibus-tweaker-candidate-popup-content,
.turquoise .ibus-tweaker-candidate-popup-text {
    border-color: rgba(94, 210, 215, 0.95);
}

.turquoise .ibus-tweaker-candidate-box:hover {
    background-color: rgba(94, 210, 215, 0.5);
}

.turquoise .ibus-tweaker-candidate-box:selected {
    background-color: rgba(94, 210, 215, 0.95);
}

/*
 *  #128F93
 */
.night-turquoise .ibus-tweaker-candidate-popup-content,
.night-turquoise .ibus-tweaker-candidate-popup-text {
    border-color: rgba(18, 143, 147, 0.95);
}

.night-turquoise .ibus-tweaker-candidate-box:hover {
    background-color: rgba(18, 143, 147, 0.5);
}

.night-turquoise .ibus-tweaker-candidate-box:selected {
    background-color: rgba(18, 143, 147, 0.95);
}


/*
 *  #CCCCCC
 */
.grey .ibus-tweaker-candidate-popup-content,
.grey .ibus-tweaker-candidate-popup-text {
    border-color: rgba(204, 204, 204, 0.95);
}

.grey .ibus-tweaker-candidate-box:hover {
    background-color: rgba(204, 204, 204, 0.5);
}

.grey .ibus-tweaker-candidate-box:selected {
    background-color: rgba(204, 204, 204, 0.95);
}

/*
 *  #666666
 */
.night-grey .ibus-tweaker-candidate-popup-content,
.night-grey .ibus-tweaker-candidate-popup-text {
    border-color: rgba(102, 102, 102, 0.95);
}

.night-grey .ibus-tweaker-candidate-box:hover {
    background-color: rgba(102, 102, 102, 0.5);
}

.night-grey .ibus-tweaker-candidate-box:selected {
    background-color: rgba(102, 102, 102, 0.95);
}

